* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #11009E, #4942E4, #8696FE, #C4B0FF);
    background-size: 300%, 300%;
    animation: gradiente 15s ease infinite;

}

@keyframes gradiente {
    0% {
        background-position: 0%, 50%;
    }

    50% {
        background-position: 100%, 50%;
    }

    100% {
        background-position: 0%, 50%;
    }
}

body, button {
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    height: 100vh;
}

img {
    width: 300px;
    margin-bottom: 20%;
    margin-top: 20px;
}

select, input {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.7;
    border-radius: 10px;
}

input, button, select, label {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

button {
    font-size: 1em;
    width: 250px;
    height: 50px;
    margin: 15px;
    border-radius: 25px;
    background-color: gray;
    color: white;
    text-shadow: 2px 2px 1px black;
    border: none;
    box-shadow: -5px 5px 5px black;
}

button:hover {
    background-color: rgb(190, 189, 189);
    color: rgb(255, 255, 255);
    box-shadow: -8px 8px 20px black;
}

button:active {
    background-color: rgb(74, 73, 73);
    color: lightgray;
    transform: translate(-5px, 5px);
    box-shadow: none;
}

input {
    width: 260px;
    height: 30px;
}

select {
    width: 270px;
    height: 40px;
}

#res {
    resize: none;
    opacity: 1;
    color: rgb(37, 36, 36);
    text-shadow: 1px 1px 0 black;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    width: 270px;
    display: flex;
    align-items: center;
}

.radio {
    padding: 50px;
    font-size: 1rem;
    border: 0;
    width: 20px;
    height: 20px;
}

.push, footer {
    font-size: 12px;
    font-family: cursive;
    height: 20px;
    text-align: center;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(143, 0, 0);
}